@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kurmann Würsch corp.<br />
    6005 Luzern<br />
    <abbr title="Phone">P:</abbr>
    041 444 44 44
</address>

<address>
    <strong>Contact us:</strong>   <a href="mailto:hr-system@example.com">Hr-System@example.com</a><br />
</address>